{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Notes App</title>
    <link rel="stylesheet" href="{% static 'notes/styles.css' %}">
</head>
<body>
    <div id="left-row">
        <p id="note_title">Untitled</p>
        <canvas id="draw_space"></canvas>
    </div>
    <div id="right-row">
        <div id ="colors">
        <button class="button" id="black_button"></button>
        <button class="button" id="white_button"></button>
        <button class="button" id="red_button"></button>
        </div>
        <input id ="pen_size" type="range" min="1" max="30" value="10" step="1">
        <button id="upload">
            <div id="decoration"></div>
        </button>
    </div>
    <script src="{% static 'notes/canvas.js' %}"></script>
</body>
</html>